#gal{
    width: 100%;
    background-color: black;
    display:flex
}
#gall{
    margin-top: 5%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#gall,img{
    width: 100%;
    height: 100%;

}
.galdiv{
    border: 1px solid whitesmoke;
    width:200px;
    height : 200px;
    margin:10px;

    
    
}